### Collect Data

https://archive.ics.uci.edu/ml/datasets/Online+Retail

In [1]:
#!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx --quiet

### Load Data

Check dataset details

In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [4]:

df=pd.read_excel('https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

Remove missing values from the dataset

### Explore & Visualize Dataset

Number of Unique customers

Geograhic information

In [ ]:
sns.countplot(y='Country', data=df)

Remove Non-UK records as enough Geographic details about other countries/region is not available.

In [ ]:
df = df[df.Country.isin(['United Kingdom'])]

Number of Unique Products

Invoice Date Range

### Remove Invoices for 'Returns'

Number of Returned invoices

Remove these invoices from the dataset

In [ ]:
df = df[~df.InvoiceNo.str.startswith('C').fillna(False)]

### Build a Customer Dataset

In [ ]:
cust_df = pd.DataFrame(df.CustomerID.unique(), columns=['CustomerID'])

### Recency of Purchase

In [ ]:
df['Recency'] = (pd.datetime(2011,12,10) - pd.to_datetime(df['InvoiceDate'])).dt.days

In [ ]:
df.head()

In [ ]:
recency_df = df.groupby('CustomerID', as_index=False).agg({'Recency':'min'})

In [ ]:
recency_df.shape

In [ ]:
cust_df = cust_df.merge(recency_df, left_on='CustomerID', right_on='CustomerID')

In [ ]:
cust_df.shape

In [ ]:
cust_df

### Frequency of Invoices

In [ ]:
cust_df = cust_df.merge(frequency_df, left_on='CustomerID', right_on='CustomerID')

In [ ]:
cust_df.shape

In [ ]:
cust_df

### Monetary Value of Purchases

Calculate total purchase price for each invoice

In [ ]:
cust_df = cust_df.merge(monetary_df, left_on='CustomerID', right_on='CustomerID')

In [ ]:
cust_df

Plot the data

### Standardize the data

### Applying K-Means

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
km = KMeans(n_clusters=2, #Number of clusters
            n_init=10, #How many times KMeans will be run with random centoid starts
            max_iter=300) #Maximum iterations

In [ ]:
km.fit()

Add cluster information to Dataframe

In [ ]:
cust_df['k_2'] = km.predict()

### Exploring 2 Clusters

Centroids

Visualize Clusters

Sum of Squared Error (SSE)

What does 2 Clusters tell us about the dataset

### How many Clusters to use?

Visualize K vs SSE

In [ ]:
sns.lineplot(x='K', y='SSE', data=sse_df)

Visualize clusters with K=5